.map {
    height: 100vh;
    justify-content: center;
  }

.map-marker {
    margin-top: -30px;
    font-weight: bold;
  }

.containerStyle{
  border-radius: 100%;
}

.teste{
  border: solid black;
  border-radius: 100%;
}