.Alcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Alheader {
    font-size: 2rem;
    margin-bottom: -3rem;
}

.Alform {
    border: 1px solid #bebebebe;
    padding: 1rem;
    width: 420px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fields {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.fields input {
    padding: .2rem;
    padding: .7rem;
    border: none;
    background-color: #bebebebe;
    border-radius: 5px;
    outline: none;
}

.fields label {
    margin: .5rem;
}

.Alform button {
    padding: .8rem 2.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #164863;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;

    transition: .2s ease;
}

.Alform button:hover {
    background-color: #297fad;
    transform: scale(1.05);
}

