.Acontainer {
    display: flex;
    flex-direction: column;
    color: #585858;
}

.Aheader {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.Acards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #585858;
}

.Acard {
    width: 360px;
    border: 1px solid #bebebe;
    background-color: #fff;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem 0;
}

.Acard img {
    width: 100%;
    height: 420px;
    border-radius: 5px;
}

.Abtn {
    padding: .8rem 2.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #164863;
    color: #fff;
    cursor: pointer;

    transition: .2s ease;
}

.Abtn:hover {
    background-color: #297fad;
    transform: scale(1.05);
}

.aluguel {
    display: flex;
    justify-content: space-between;
}

.aluguel .Apreco {
    font-weight: bold;
}

.aluguel a {
    padding: 0;
}

.aluguel .precos {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}

.aluguel .precos .Apreco-old {
    text-decoration: line-through;
    font-size: .9rem;
}

.collapse .texto {
    max-width: 750px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.texto {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.btn-more  {
    padding: .8rem 2.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #164863;
    color: #fff;
    cursor: pointer;
    width: 30%;
    margin: 1rem auto;
    margin-top: 1rem;

    transition: .2s ease;
}

.btn-more:hover {
    background-color: #297fad;
    transform: scale(1.05);
}