header {
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  background-color: #55898f;
  background-image: linear-gradient(45deg, #d9e3ed 0%, #0b3236 70%);
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  
}
  
  .mcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 15px;
    margin-left: 50px;
    background-image: linear-gradient(45deg, #265d94 10%, #0b606a 90%);
    background-size: 100%;
    border-radius: 100%;
    padding: 10px;
  }
.mmenus {
    
    display: flex;
    
}

.mmenus a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
    
}




  
  
  
