
.hacomodacoes {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    
    font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(247, 247, 247);
    padding: 293px 400px;
    border-radius: 20px;
    margin-left: 0px;
    border: none;
    background-image: url('./homefoto.jpg'); 
    background-size: 100%;
    -webkit-text-stroke: 0.6px rgb(87, 88, 65);
    
  }
  

  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, transparent 25px, rgb(137, 169, 177, 0.1) 0px, rgba(255, 249, 249, 0.824) 60px, transparent 1500px);
    background-size: 90px 930px;
    background-color: rgb(137, 169, 177);
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 90px 930px;
    }
}

